@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

@font-face {
    font-family: branding;
    src: url(Nordic\ Alternative\ Regular.ttf);
}

body{
    height: 100%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    width: 100%;
    background-color: rgb(83, 83, 83);
}

.typeheading{
  font-size: 100px;
  font-family: 'Cormorant Garamond', serif;
  color: white;
}

.header_1{
    height: 1000px;
    background-image: url('header_img.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
#abc{
    width:100%;
    height:100vh;
  }
nav{
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.047);
    line-height: 70px;
  }

nav h1{
    line-height: 70px;
    float: left;
    color:#fff;
    font-size: 40px;
    font-weight: Light 300 ;
    font-family: 'branding', serif;
}

nav ul{
    float:right;
    margin-right: 30px;
  }
nav ul li{
    font-family: 'Cormorant Garamond', serif;
    font-size: 21px;
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
nav ul li:hover{
    background-color:rgb(100, 100, 100);
  }
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
nav ul li a i{
    background-color: #fff;
    height: 10px;
  }
nav ul li a:hover{
    color: black;
}
nav ul li p{
  height: 1px;
  display: inline-block;
  color: white;
}


.sec_3{
    content-visibility: auto;
    height: 650px;
    background-color: rgb(81, 81, 81);
    color: black;
    padding-top: 1px;
    font-size: 50px;
}

.sec_4{
    content-visibility: auto;
    height: 1590px;
    background-color: rgb(44, 43, 43);
}
.sec_5{
  content-visibility: auto;
  background-color: #636363;
  height: 700px;
  text-align: center;
  padding-top: 1px;
  font-size: 50px;
}

.lrn_more{
    padding-top: 250px;
    padding-left: 67%;
}
.lrn_more a{
  text-decoration: none;
}

.btn41-43 {
    padding: 10px 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* text-underline-offset: 18px; */
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  
.btn-41 {
    border: 2px solid rgb(255, 255, 255);
    z-index: 1;
    color: white;
  }

.btn-41:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: rgb(255, 255, 255);
    transition: all 0.3s ease;
  }
  
.btn-41:hover {
    color: rgb(0, 0, 0);
  }
  
.btn-41:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
.btn-41:active {
    top: 2px;
  }

.sec_2{
  content-visibility: auto;
  height: 600px;
  background-color: #1a1919;
  padding-top: 24px;
  font-size: 50px;
}

.con1 {
  padding-top: 75px;
  /* position: absolute;   */
  display: flex;
  direction: rtl;
}

.con1 h2{
  
  right:(50%);
  padding-left: 20%;
  direction: ltr;

}
.cd1 {
  display: flex;
  height: 430px;
  width: 310px;
  border-radius: 10px;
  background-size: cover;
  box-shadow: 10px 10px 10px #000;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}
.cd1:not(:first-child) {
    margin-left: -50px
}
.cd1:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}
.cd1:hover ~ .cd1 {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}
.cd1:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.cd1 p{
  color: black;
  background-color: rgba(199, 199, 199, 0.347);
  font-size: 81px;
}

.cd1 a{
      color: black;
      font-size: 81px;
      text-decoration: none;

}

.column {
  float: left;
  /* width: 50%; */
  padding: 10px;
}


.row:after {
  content: "";
  justify-content: space-between;
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.con2{
  /* width: 100vw; */
  /* max-width: 1280px; */
  /* min-width: 1000px; */
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  margin: 0 auto;
}
.border1{
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}

  .border1:hover{
    backdrop-filter: blur(10px);
}
.cd2{

  height: 379px;
  width: 300px;
  background: grey;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: black;
  box-shadow: 0 70px 63px -60px #000000;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
}
.card11{
  background: url('https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg') center center no-repeat;
  background-size: cover;
  background-position: 80%;

  
}
.card11:hover{
    background: url('https://images.pexels.com/photos/428338/pexels-photo-428338.jpeg') left center no-repeat;
    background-size: cover;
    background-position: 40%;
    /* backdrop-filter: blur(10px); */
    
}

.icons1{
  position: absolute;
  fill: #fff;
  color: #fff;
  /* height: 130px; */
  top: 226px;
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left:50%;
  }

  .card22{
    background: url('https://images.unsplash.com/photo-1590654023635-7a5b8f0a1cd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center center no-repeat;
    background-size: cover;
    background-position: 10%;
  
    
  }
  .card22:hover{
      background: url('https://images.unsplash.com/photo-1590654023635-7a5b8f0a1cd6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') left center no-repeat;
      background-size: cover;
      background-position: 100%;
      /* backdrop-filter: blur(10px); */
      
  }

  .card33{
    background: url('https://images.unsplash.com/photo-1541794554645-d4fb6991fa77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80') center center no-repeat;
    background-size: cover;
    background-position: 80%;
  
    
  }
  .card33:hover{
      background: url('https://images.unsplash.com/photo-1541794554645-d4fb6991fa77?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80') left center no-repeat;
      background-size: cover;
      background-position: 40%;
      /* backdrop-filter: blur(10px); */
      
  }

  .card44{
    background: url('https://images.unsplash.com/photo-1609840170480-4c440bcd5d8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') center center no-repeat;
    background-size: cover;
    background-position: 80%;
  
    
  }
  .card44:hover{
      background: url('https://images.unsplash.com/photo-1609840170480-4c440bcd5d8f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') left center no-repeat;
      background-size: cover;
      background-position: 40%;
      /* backdrop-filter: blur(10px); */
      
  }

.testi_card{
  height: 800;
  width: 450px;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.576);
  backdrop-filter: blur(2px);
  box-shadow:  2px 10px 20px rgb(106, 106, 106);
}
.testi_card:hover{
  zoom: 105%;
}
.avatar {
  background-image: url('https://images.pexels.com/photos/3290236/pexels-photo-3290236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-position-y: center;
}

footer{
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  /* width: 100vw; */
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  
  /* justify-content: center; */
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 4.7rem;
  font-family: branding;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  top: 0;
  line-height: 2px;
  font-size: 21px;
  color: #ffffff;
}
.socials{
  list-style: none;
  display: flex;
  
  align-items: center;
  /* justify-content: space-evenly; */
  /* margin: 1rem 0 3rem 0; */
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: rgb(101, 101, 101);
  border: 2px solid rgb(85, 85, 85);

  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 3px;
  padding-right: 4px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.7rem;
  width: 40px;
  transition: color .4s ease;
}
.socials a:hover{

  color: rgb(255, 255, 255);
}

.footer-bottom{
  /* background: #000; */
  /* width: 100vw; */
  padding: 20px;
padding-bottom: 70px;
  text-align: center;
}
.footer-bottom p{
  float: right;
  font-family: 'Cormorant Garamond', serif;
  bottom: 0;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #ffffff;
}
    
@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}

}